code,
pre {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
  background-color: #f6f8fa;
}

code {
  padding: 2px;
}

pre {
  overflow-x: auto;
  padding: 8px;
}

hr {
  background-color: grey;
  color: grey;
  height: 1px;
  border-width: 0;
  margin: 16px 0;
}
