code,
pre {
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
  line-height: 1.4;
  background-color: #f6f8fa;
}

pre {
  overflow-x: auto;
  padding: 8px;
}

.toc ul,
.toc ol {
  margin-bottom: 0px;
}

.toc li {
  font-size: 14px;
}

li {
  margin-top: 2px;
}

hr {
  background-color: grey;
  color: grey;
  height: 1px;
  border-width: 0;
  margin: 16px 0;
}
