<!DOCTYPE html>
<html lang="en">

<head>
    <title>Running A Dogecoin Full Node</title>
    <meta charset="UTF-8">
    <meta name="author" content="Jacek Trociński">
    <meta name="description" content="How to run a dogecoin full node">
    <meta name="keywords" content="dogecoin, doge, full node, instructions, guide">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/dogecoinisawesome.css">
</head>

<body>
    <div class="center-content">
        <div>
            <div class="content">
                <a href="/">DogecoinIsAwesome.com</a>
            </div>
            <div class="content">
                {{ markdown_html |safe }}
            </div>
        </div>
    </div>
</body>

</html>