<!DOCTYPE html>
<html lang="en">

<head>
    <title>DogecoinIsAwesome.com</title>
    <meta charset="UTF-8">
    <meta name="author" content="Jacek Trociński">
    <meta name="description"
        content="Find all you need to know and get started with Dogecoin on dogecoinisawesome.com.">
    <meta name="keywords" content="dogecoin, doge, how to, guide">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/dogecoinisawesome.css">
</head>

<body>
    <div class="center-content">
        <div>
            <img src="/static/img/doge.png" alt="DogecoinIsAwesome" />
            <div class="content">
                <h2>Guides</h2>
                <ul>
                    <li><a href="/full-node">Running A Full Node</a></li>
                </ul>
            </div>

            <div class="content">
                <h2>Contribute</h2>
                <p>DogecoinIsAwesome.com is an open source project that depends on your contributions and ideas in order
                    to make the site awesome!
                </p>
                <p>
                    Our focus is on creating an informative website with all you need to know to get started using
                    Dogecoin.
                </p>
                <p>
                    <a href="https://github.com/dogecoinisawesome-dot-com/DogecoinIsAwesome.com/discussions"
                        target="_blank">Discuss ideas or ask questions you’re wondering about.</a>
                </p>
                <p>
                    Report problems or help improve the site by opening a <a
                        href="https://github.com/dogecoinisawesome-dot-com/DogecoinIsAwesome.com/issues/new"
                        target="_blank">new issue</a> or <a
                        href="https://github.com/dogecoinisawesome-dot-com/DogecoinIsAwesome.com/compare"
                        target="_blank"> pull request</a>.
                </p>
            </div>
            <div class="content">
                <h2>Donate</h2>
                Dogecoin Address: <strong>DDNhF6qpFPHM1KxLUWJp3WPa57QCX1Jt2F</strong>
            </div>
        </div>
    </div>
</body>

</html>