<!DOCTYPE html>
<html lang="en">

<head>
    <title>DogecoinIsAwesome.com</title>
    <meta charset="UTF-8">
    <meta name="author" content="Jacek Trociński">
    <meta name="description" content="Dogecoin is awesome, enough said.">
    <meta name="keywords" content="dogecoin, is, awesome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/dogecoinisawesome.css">
</head>

<body>
    <div id="center">
        <div>
            <h1>#DogecoinIsAwesome</h1>
            <div id="price">
                <h2>1 Dogecoin = {{dogecoin_price}} {{currency_code}}</h2>
                <strong>USD</strong> | EUR | PLN
            </div>
            <div id="tips">Dogecoin tips much accepted:<br>DDNhF6qpFPHM1KxLUWJp3WPa57QCX1Jt2F</div>
        </div>
    </div>
</body>

</html>