{% extends "base.html" %} {% block content %}
<div class="header-inner cc-header-extra wf-section">
  <div class="container">
    <div class="header-inner-content">
      <h1 class="h1">Learn about Dogecoin.</h1>
      <p class="paragraph">
        We are a non-profit site whose mission is to advance Dogecoin for the
        good of society through education.
      </p>
    </div>
  </div>
</div>
<div class="features wf-section">
  <div class="container">
    <div class="h2-container">
      <h2 class="h2">
        <span class="text-span">Get Started. </span>Dogecoin is a new kind of
        money powered by its users with no central authority or middlemen. From
        a user perspective, Dogecoin is pretty much like cash for the Internet.
      </h2>
    </div>
    <div class="container cc-center"></div>
    <div class="collection-list-wrapper cc-feature-row">
      <div class="collection-list cc-feature-row">
        <div class="collection-item cc-feature-row">
          <a href="/dogecoin-wallets" class="link-block w-inline-block">
            <div class="feature-item-container">
              <div class="feature-icon">
                <img src="images/wallet-svgrepo-com.svg" alt="Wallet" />
              </div>
              <h3 class="h3">Choose a Wallet</h3>
              <p class="paragraph cc-gray">
                Once you own Dogecoin, storing it safely and securely is
                important. Click to learn more about the recommended wallets and
                storage solutions.
              </p>
            </div>
          </a>
        </div>
        <div class="collection-item cc-feature-row">
          <a href="/faq" class="link-block w-inline-block">
            <div class="feature-item-container">
              <div class="feature-icon">
                <img src="images/faq-button-svgrepo-com.svg" alt="FAQ" />
              </div>
              <h3 class="h3">FAQ</h3>
              <p class="paragraph cc-gray">
                To learn more about Dogecoin, take a look at our FAQs.<br />
              </p>
            </div>
          </a>
        </div>
        <div class="collection-item cc-feature-row">
          <a href="/full-node" class="link-block w-inline-block">
            <div class="feature-item-container">
              <div class="feature-icon">
                <img src="images/server-svgrepo-com.svg" alt="Server" />
              </div>
              <h3 class="h3">Running a Full Node</h3>
              <p class="paragraph cc-gray">
                Help the Dogecoin network by volunteering to run a full node
                using spare computing and bandwidth resources.<br />
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
